/* xs */
/* @media (min-width: 29.6875rem) {} */

/* sm */
/* @media (min-width: 40rem) {} */

/* md */
/* @media (min-width: 48rem) {} */

/* lg */
/* @media (min-width: 64rem) {} */

/* xl */
/* @media (min-width: 80rem) {} */

/* 2xl */
/* @media (min-width: 96rem) {} */

/* reusable components */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contain {
  width: 100%;
}

/* seperate container for only header section */
.contained {
  width: 100%;
}

.section {
  margin-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  /* .mobile-background {
    background-image: url(/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  } */
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
