.mobile-background {
  background-image: url(/assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27.2px;
  padding-bottom: 27.2px;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 999;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0.625rem);
}

.header__links a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: var(--size-base);
  line-height: 24px;
}

.header__logo {
  width: 2.5rem;
}

.header__menu {
  display: none;
}

.header__hamburger-bar {
  cursor: pointer;
}

.menu-icon {
  width: 1.875rem;
  cursor: pointer;
  padding: 0.9375rem;
  position: fixed;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 1000;
}

.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.header__sidebar {
  position: fixed;
  top: 1.25rem;
  right: -15.625rem;
  width: 15.625rem;
  height: 100%;
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(0.625rem);
  transition: right 0.5s ease-in-out;
  z-index: 1000;
  padding: 1.25rem;
}

.header__sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 64px;
}

.header__sidebar nav ul li {
  padding: 1.25rem 0;
  padding-left: 16px;
}

.header__sidebar nav ul li a {
  text-decoration: none;
  color: var(--clr-white);
  font-size: var(--size-xs);
  cursor: pointer;
}

/* .header__sidebar nav ul li a:focus::after {
} */

.header__sidebar nav ul li a:hover::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0.125rem;
  height: 20px;
  background-color: var(--clr-light-greyishblue);
  transition: all 0.5s ease-in-out;
}

.header__sidebar nav ul li a:hover {
  width: 0.125rem;
}

.header__close-icon {
  cursor: pointer;
  position: absolute;
  top: 0.9375rem;
  right: 2.0625rem;
}

.show-sidebar {
  right: 0;
}

.show-overlay {
  opacity: 1;
  pointer-events: auto;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .mobile-background {
    background-image: url(/public/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3.5rem;
    z-index: 999;
  }

  .header__hamburger-bar {
    display: none;
  }

  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    padding: 2.2rem 12rem;
    margin: 0;
    background: rgba(71, 70, 70, 0.3);
    backdrop-filter: blur(0.625rem);
    transform: translateX(40px);
  }

  .header__links a {
    color: var(--clr-white);
  }

  .header__links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--clr-white);
    transition: width 0.5s ease-in-out;
  }

  .header__links a:hover::after {
    width: 100%;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
